<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Вход</title>
  <!-- ui-kit css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />
  <!-- ui-kit js -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
  <!-- cookie js -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>

<body>
  <div class="uk-container">
    <div class="uk-container uk-flex uk-flex-center uk-flex-middle" style="min-height: 100vh;">
      <form method="post">
        {% csrf_token %}
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" id="user" name="user" placeholder="Имя пользователя">
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <button class="uk-form-icon uk-form-icon-flip" href="#" uk-icon="icon: eye" id="visible_password" style="z-index: 100;"></button>
            <input class="uk-input" type="password" id="password" name="password" placeholder="Пароль">
          </div>
        </div>
        {% if messages %}
          <div class="uk-margin uk-width-1-1">
            <div class="uk-inline uk-width-1-1">
              <ul class="uk-list uk-list-hyphen">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
        <div class="uk-margin uk-width-1-1">
          <div class="uk-inline uk-width-1-1">
            <input class="uk-input uk-button uk-button-primary" type="submit" value="Войти">
          </div>
        </div>
        <div class="uk-margin uk-width-1-1">
          <div class="uk-inline">
            <p>Нет аккаунта? <a href="../signup/">Зарегистрируйтесь</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>

  {% load static %}
  <script src="../..{% static "/js/hide_visible_password.js" %}"></script>
  <script>
    // скрытие/открытие пароля
    let visible_password_btn = document.getElementById('visible_password')
    let password_field = document.getElementById('password')
    hide_visible_password(password_field, visible_password_btn)
  </script>
</body>

</html>