<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test home page</title>
</head>
<body>
    {% if user.is_authenticated %}
        <p>Welcome, {{ user.get_username }}. Thanks for logging in. You can <a href=".{% url 'logout' %}">logout</a></p>
    {% else %}
        <p>Welcome, Anonimous. You can <a href=".{% url 'login' %}">login</a> or <a href=".{% url 'register' %}">registration</a></p>
    {% endif %}
</body>
</html>